table.index-table {
  width:100%;
}

table.index-table th {
  text-align: left;
  background-color:#99d;
}

tr.index-table-row-even {
  background-color:#ddd;
}
tr.index-table-row-odd {
  background-color:#bbb;
}

td.pagination {
  text-align:center;
  background-color: #B8CAE0;
  padding:9px;
}